@use "src/styles/variables.scss" as stylesheet;
@use "sass:color";

.shared-button {
  font-weight: stylesheet.$font-weight-bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;

  &.size-small {
    font-size: stylesheet.$font-size-small;
    padding: 8px 4px;
    min-width: 64px;
  }

  &.size-medium {
    font-size: stylesheet.$font-size-small;
    padding: 15px 8px;
    min-width: 88px;
  }

  &.size-large {
    font-size: stylesheet.$font-size-medium;
    padding: 24px 12px;
    min-width: 128px;
  }

  &.color-primary {
    box-shadow: 0 1px 3px color.adjust(stylesheet.$dark-green, $lightness: -5%, $space: hsl);
    background-color: stylesheet.$dark-green;
    color: stylesheet.$beige;

    &:hover {
      box-shadow: 0 1px 3px color.adjust(stylesheet.$dark-green, $lightness: -11%, $space: hsl);
      background-color: stylesheet.$light-green;
    }
  }

  &.color-secondary {
    box-shadow: 0 1px 3px color.adjust(stylesheet.$brown, $lightness: -5%, $space: hsl);
    background-color: stylesheet.$brown;
    color: stylesheet.$beige;

    &:hover {
      box-shadow: 0 1px 3px color.adjust(stylesheet.$brown, $lightness: -15%, $space: hsl);
      background-color: color.adjust( stylesheet.$brown, $lightness: -10%, $space: hsl);
    }
  }
}
