@use "src/styles/variables.scss" as stylesheet;

:root {
  --cell-size: 30px;
  --font-size: 18px;
}

@media (max-width: 600px) {
  :root {
    --cell-size: 20px;
    --font-size: 14px;
  }
}

.map-viewer {
  grid-template-columns: repeat(auto-fill, minmax(var(--cell-size), 1fr));
  display: grid;

  &__cell {
    border: 1px solid stylesheet.$black;
    background-color: stylesheet.$brown;
    font-size: var(--font-size);
    height: var(--cell-size);
    width: var(--cell-size);
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
