:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #DCD7C9;
  background-color: #23486A;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

