@use "src/styles/variables.scss" as stylesheet;

:root {
  font-family: stylesheet.$font-family;
  color: stylesheet.$beige;
  background-color: stylesheet.$beige;
  margin: 0;
}

h1 {
  font-size: stylesheet.$font-size-huge;
  font-weight: stylesheet.$font-weight-bold;
  color: stylesheet.$dark-green;
}
