@use "src/styles/variables.scss" as stylesheet;

.display-list {
  flex-direction: column;
  display: inline-flex;
  align-items: center;
  row-gap: 12px;

  &__title {
    font-weight: stylesheet.$font-weight-bold;
    font-size: stylesheet.$font-size-large;
    color: stylesheet.$dark-green;
    margin: 0;
  }

  &__items {
    color: stylesheet.$dark-green;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    gap: 1px;

    &__item {
      background-color: stylesheet.$dark-green;
      box-shadow: stylesheet.$box-shadow-light;
      font-size: stylesheet.$font-size-small;
      color: stylesheet.$beige;
      border-radius: 5px;
      padding: 10px;
    }
  }
}
